*.class

# Package Files #
*.jar
*.war
*.ear
.DS_Store

# Intellij IDEA Files #
*.iml
*.ipr
*.iws
.idea/

# Linux Files #
.*
!.gitignore
*~
/nevernote-api/target/
/nevernote-fwk/target/
/nevernote-core/target/
/wrapper/target/
/container/target/