*.class

# Package Files #
*.jar
*.war
*.ear
.DS_Store

# Intellij IDEA Files #
*.iml
*.ipr
*.iws
.idea/

# Linux Files #
.*
!.gitignore
*~
/nevernote-api/target/
/nevernote-fwk/target/
/nevernote-core/target/
/wrapper/target/
/container/target/
/nevernote-core copie/target/
/nevernote-plugin-translate/target/
/nevernote-plugin-translator/target/
/nevernote-plugin-translator copie 2/target/
/nevernote-plugin-translator copie/target/
/nevernote-plugin-translator copie 3/target/
/nevernote-plugin-translator copie 4/target/
/nevernote-plugin-translator -en/target/
/nevernote-plugin-translator-en/target/
/nevernote-plugin-translator-de/target/
/nevernote-plugin-translator-fr/target/
/nevernote-plugin-translator-sp/target/
/nevernote-plugin-translator-tweet/target/
/nevernote-plugin-tweet/target/
/nevernote-plugin-tweet copie/target/
/nevernote-plugin-upper/target/